*{
    font-family: Verdana;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 0, 0.509);
}

.conteudo{
    margin-left: 45vh;
    header {
        display: flex;
        background-image: url(../img/background.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        height: 40vh;
        p {
            margin-top: 155px;
            margin-left: 30px;  
            color: yellow;
            font-size: 60px;
            text-shadow: 3px 2px 2px blue;
        }
    }
    main {
        p {
            text-align: justify;
            font-size: 16px;
        }
    }
}
footer{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 78%;
    background: linear-gradient(to right, rgb(240, 221, 96), rgb(240, 215, 72));
    font-size: 16px;
    bottom: 0%;
    height: 5vh;
    padding: 1px;
    position: absolute;
}

aside{
    width: 18%;
    background-image: linear-gradient(45deg, rgba(0, 51, 255, 0.833), rgb(0, 80, 253));
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    position: fixed;
    img{
        width: 170px;
        aspect-ratio: 1/1;
        border-radius: 50%;
    }
    ul {
        list-style-type: none;
        margin-top: 5vh;
    }
    li {
    
        margin-right: 8vh;
        font-size: 17px;
        float: left;
        display: flex;
        align-items: center;
        img{
            width: 23px;
        }
        img:hover{
            cursor: pointer;
        }
    }
    li:hover{
        cursor: pointer;
    }
}
