*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url("../_img/vegeta-centro.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center -50px;
    background-color: #333333;
}

#img1{
    aspect-ratio: 1/1;
    width: 15%;
    border-radius: 50%;
    border: 5px gold solid;
}

#img2{
    float: right;
    width: 350px;
    height: 160px;
}

h1{
    color: blue;
    text-shadow: 3px 3px 3px black;
}

h3{
    color: gold;
    text-shadow: 2px 2px 2px black;
}

th{
    background-color: gold;
    color: black;
}

table{
    width: 90%;
    background-color: #333333;
    color: white;
    text-align: center
}

table, th, td{
    border: 1px solid #2a5f9a;
    height: 35px;
    border-spacing: 0px;
    margin: auto;
}

div{
    background-color: rgb(0, 0, 0,0.5);
    text-align: center;
    border-radius: 10px;
    height: 450px;
    box-shadow: 2px 2px 10px black;
}